
html {
  width: 100%;
}

body {
  width: 100%;
  padding: 20px 0 20px 0;
}

.card {
  padding: 15px;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#app {
  width: 640px;
  padding: 0 10px 0 10px;
}

.searchbox {
  display: grid;
  grid-template-columns: 1fr 150px;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 640px) {
  .vid {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 640px) {
  .vid {
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 0 0 20px 0;
  }
}

.vid video {
  height: 100%;
}

.control {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  margin: 0 0 20px 0;
}

.tweet-card-grid {
  display: grid;
  grid-template-columns: 55px 1fr;
  justify-content: center;
}

.tweet-card-grid p {
  margin: 0 0 5px 0;
}

.tweet-card-grid .author {
  font-weight: bold;
}

.tweet-card-thumbnail {
  text-align: left;
}
